@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    margin: 0 10%;
    background: rgb(0,  0, 0);
    --neon-text-color: rgb(255, 0, 0);
    --neon-border-color: rgb(0, 51, 255);
}
